@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

p,
h1,
h2,
h3 {
  font-family: "Poppins", sans-serif;
}

a {
  cursor: pointer;
}

button {
  cursor: pointer;
}

.first_section {
  position: relative;
  width: 100vw;
  height: 676px;
}

#video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section1_responsive_photo {
  height: 100%;
  width: 100%;
  object-fit: cover;
  display: none;
}

.header {
  width: 100%;
  padding: 29px 6.4vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 0;
}

.header_right {
  display: flex;
  align-items: center;
  gap: 8.3vw;
}

.company {
  display: flex;
  gap: 12px;
  align-items: center;
}

.logo {
  background-color: rgba(255, 159, 52, 1);
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: rgba(255, 255, 255, 1);
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
}

.name {
  color: rgba(255, 255, 255, 1);
  font-size: 24px;
  font-weight: 600;
  line-height: 100%;
}

.navigation {
  display: flex;
  gap: 39px;
}

.nav_item {
  color: rgba(255, 255, 255, 1);
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
}

.tw_nav_item {
  width: 79px;
}

.header_buttons {
  display: flex;
  gap: 24px;
}

.login {
  color: rgba(255, 255, 255, 1);
  font-weight: 400;
  font-size: 14px;
  background-color: transparent;
  border: none;
}

.sign_up {
  color: rgba(255, 255, 255, 1);
  font-weight: 500;
  font-size: 14px;
  background-color: transparent;
  border: 1.2px solid rgba(255, 255, 255, 1);
  padding: 8px 32px;
  width: 118px;
}

@media (max-width: 1100px) {
  .navigation {
    display: none;
  }

  .header_buttons {
    display: none;
  }
}

.section1_left {
  max-width: 520px;
  position: absolute;
  top: 180px;
  margin-inline: 6.4vw;
}

.section1_left_text1 {
  color: rgba(255, 255, 255, 1);
  font-weight: 700;
  font-size: 52px;
  line-height: 72px;
  letter-spacing: 0.5px;
  margin-bottom: 16px;
}

.section1_left_text2 {
  color: rgba(255, 255, 255, 0.71);
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  margin-bottom: 32px;
}

.section1_left_text2_resp {
  color: rgba(255, 255, 255, 0.71);
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  margin-bottom: 32px;
  display: none;
}

.section1_left_buttons {
  display: flex;
  gap: 16px;
}

.section1_button {
  color: rgba(255, 255, 255, 1);
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
}

.get_started {
  background-color: rgba(255, 159, 52, 1);
  padding: 16px 37px;
  border: none;
}

.watch_video {
  background-color: transparent;
  padding: 16px 32px;
  border: 1.2px solid rgba(255, 255, 255, 1);
  display: none;
}

.play_button {
  position: absolute;
  top: 298px;
  right: 20vw;
  background-color: transparent;
  border: none;
}

@media (max-width: 1100px) {
  .play_button {
    display: none;
  }
  .watch_video {
    display: inline-block;
  }
  .get_started {
    padding: 16px 32px;
  }
  #video {
    display: none;
  }
  .section1_responsive_photo {
    display: inline-block;
  }
}

@media (max-width: 600px) {
  .first_section {
    height: 506px;
  }
  .header {
    padding-top: 40px;
  }
  .section1_left {
    top: 112px;
  }
  .section1_left_text1 {
    font-size: 32px;
    line-height: 48px;
  }
  .section1_left_text2 {
    display: none;
  }
  .section1_left_text2_resp {
    display: inline-block;
  }
}

@media (max-width: 370px) {
  .section1_left_text1 {
    font-size: 30px;
    line-height: 35px;
  }
  .section1_left_text2_resp {
    font-size: 15px;
    line-height: 20px;
  }
}

.history {
  background-color: rgba(255, 248, 241, 1);
  display: flex;
  align-items: center;
  padding: 80px 6.4vw;
  gap: 132px;
  margin-bottom: 180px;
  width: 100vw;
}

.stats {
  display: flex;
  gap: 131px;
}

.history_item {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.history_item p {
  font-size: 40px;
  line-height: 60px;
  letter-spacing: 0.5px;
}

.history_stats {
  font-weight: 700;
}

.history_span {
  font-weight: 400;
}

.history_text {
  color: rgba(30, 16, 0, 0.71);
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
}

.history_text_res {
  display: none;
}

@media (max-width: 1000px) {
  .history {
    flex-direction: column;
    gap: 24px;
    padding: 40px 6.4vw;
  }
  .history_item p {
    font-size: 24px;
    line-height: 30px;
  }
  .history_text {
    display: none;
  }

  .history_text_res {
    display: inline-block;
  }
  .stats {
    gap: 19vw;
  }
}

@media (max-width: 370px) {
  .stats {
    gap: 8vw;
  }
  .history_item p {
    font-size: 20px;
    line-height: 20px;
  }
}

.about {
  margin-top: 300px;
  width: 100vw;
  height: 540px;
  position: relative;
}

.about_image {
  width: 600px;
  height: 500px;
  position: absolute;
  top: -120px;
  left: 8.3vw;
  object-fit: cover;
  z-index: 1;
}

.about_texts {
  position: absolute;
  background-color: rgba(64, 38, 19, 1);
  width: 80%;
  height: 100%;
  bottom: 0;
  right: 0;
  padding: 52px 15px 60px 526px;
}

.about_texts_type1 {
  color: rgba(255, 255, 255, 1);
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
  letter-spacing: 0.5px;
  margin-bottom: 24px;
  max-width: 445px;
}

.about_texts_type2 {
  color: rgba(255, 255, 255, 0.71);
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  max-width: 514px;
}

.about_texts_2 {
  margin-bottom: 40px;
}

.about_texts_res {
  display: none;
}

@media (max-width: 1240px) {
  .about_texts_2 {
    display: none;
  }
  .about_texts_3 {
    display: none;
  }
  .about_texts_res {
    display: inline-block;
  }
}

@media (max-width: 1000px) {
  .about_image {
    top: -28%;
    left: 50%;
    transform: translateX(-50%);
  }
  .about_texts {
    width: 100%;
    padding: 370px 8.3vw 0 8.3vw;
  }
  .about_texts_type1 {
    max-width: 900px;
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 16px;
  }
  .about_texts_res {
    max-width: 900px;
  }
}

@media (max-width: 700px) {
  .about {
    margin-top: 229px;
    height: 491px;
  }
  .about_image {
    top: -20%;
    width: 80vw;
    height: 272px;
  }
  .about_texts {
    padding-top: 212px;
  }
}
.section_3 {
  display: flex;
  flex-direction: column;
  gap: 52px;
  align-items: center;
  justify-content: center;
  width: 85vw;
  margin: 0 auto;
  margin-top: 180px;
  margin-bottom: 180px;
}

.butterfly_res {
  display: none;
}

.text {
  color: rgba(30, 16, 0, 1);
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
  letter-spacing: 0.5px;
  max-width: 536px;
  text-align: center;
}

.box {
  display: flex;
  gap: 5%;
}

.box_left {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.box_left_text {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.box_left_text1 {
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 0.5px;
}

.box_left_text2 {
  font-size: 16px;
  font-weight: 400;
}

.box_left_cards {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.benefit-card {
  padding: 11px 4%;
  display: flex;
  align-items: center;
  background-color: transparent;
  justify-content: space-between;
  border: 1px solid rgba(242, 242, 242, 1);
}

.benefit_card_left {
  display: flex;
  align-items: center;
  gap: 5%;
  text-align: left;
}
.icon {
  background-color: #ff9f3414;
  border-radius: 50%;
  width: 52px;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.info {
  display: flex;
  width: 25vw;
  flex-direction: column;
  gap: 8px;
}

.info p:nth-child(1) {
  color: rgba(30, 16, 0, 1);
  font-size: 18px;
  font-weight: 500;
}

.info p:nth-child(2) {
  color: rgba(30, 16, 0, 0.71);
  font-size: 16px;
  font-weight: 400;
}

.arrow {
  font-size: 30px;
  color: #1e1000;
}

.butterfly {
  width: 53%;
  object-fit: cover;
  align-self: center;
}
@media (max-width: 1200px) {
  .section_3 {
    gap: 32px;
    margin-top: 120px;
  }
  .butterfly {
    display: none;
  }
  .butterfly_res {
    display: inline-block;
    width: 100%;
  }
  .box_left_text1 {
    display: none;
  }
  .box_left {
    width: 100%;
  }
  .arrow {
    display: none;
  }
  .info {
    width: 70vw;
  }
}
@media (max-width: 650px) {
  .text {
    font-size: 24px;
    line-height: 36px;
    text-align: left;
  }
}
.section4 {
  width: 85vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 52px;
  margin-bottom: 180px;
}

.section-text {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}

.section-text1 {
  font-size: 40px;
  font-weight: 700;
  max-width: 445px;
  line-height: 60px;
  letter-spacing: 0.5px;
}

.section-text2 {
  max-width: 514px;
  color: #1e1000b5;
  font-size: 16px;
  line-height: 32px;
  font-weight: 400;
}

.cards-info {
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(3, 410px);
}
.image-nature {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.date {
  color: #ff9f34;
  font-size: 16px;
  margin-bottom: 8px;
  margin-top: 24px;
  font-weight: 400;
}

.card-item h3 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 8px;
  letter-spacing: 0.5px;
}

.card-content {
  color: #555;
  font-size: 16px;
  margin-bottom: 40px;
  line-height: 32px;
  font-weight: 400;
}
@media (max-width: 1200px) {
  .section-text {
    flex-direction: column;
    align-items: left;
    gap: 16px;
  }
  .section4 {
    gap: 32px;
    margin-bottom: 120px;
  }
  .section-text1 {
    max-width: 100%;
    font-size: 24px;
    line-height: 36px;
  }
  .section-text2 {
    max-width: 100%;
  }
  .cards-info {
    grid-template-columns: repeat(3, 300px);
    overflow-x: scroll;
    scrollbar-color: #ff9f34 #fafafa;
  }
  .card-item h3 {
    font-size: 18px;
  }
}

.section5 {
  display: flex;
  margin-top: 180px;
  width: 85vw;
  margin: 0 auto;
  gap: 52px;
  flex-direction: column;
}

.s5_header {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.s5_header h2 {
  text-align: center;
  font-size: 32px;
  font-weight: 700;
}

.s5_subtext {
  text-align: center;
  color: #888;
  font-weight: 400;
  font-size: 16px;
}

.questions {
  display: flex;
  flex-direction: column;
  gap: 36px;
}

.grid-item {
  border: 1px solid #dddddd;
  padding: 32px 40px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.grid-item1-left {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-right: 10px;
}

.question-box {
  font-weight: 500;
  font-size: 20px;
  color: #1e1000;
}

.answer {
  color: #aaaaaa;
  font-size: 14px;
  max-width: 1000px;
  line-height: 32px;
}

.grid-item1-arrow {
  transform: rotate(90deg);
}

.question_box_res {
  text-align: center;
  display: none;
}

.answer_res {
  text-align: center;
  display: none;
}

@media (max-width: 600px) {
  .section5 {
    flex-direction: row;
    overflow-x: scroll;
    scrollbar-color: rgba(255, 159, 52, 1) rgba(250, 250, 250, 1);

  }

  .s5_header h2 {
    width: 82vw;
    font-size: 24px;
  }

  .s5_subtext {
    width: 82vw;
    margin-bottom: 32px;
  }

  .question_box_res {
    display: inline-block;
  }

  .answer_res {
    display: inline-block;
    margin-bottom: 40px;
  }

  .questions {
    flex-direction: row;
  }

  .grid-item {
    width: 80vw;
  }

  .grid-item1 {
    display: none;
  }

  .faq_arrow {
    display: none;
  }
}
